@*@model Practica_5.Models.datosEstudiantes*@

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-offset-3">
            <img src="~/imagenes/visitas-guiadas-gratuitas-p.jpg" class="img-responsive" />
        </div>

    </div>

   



</div>


